html, body, #home{
    height: 100%;
}
body{
    background: #706f6f url(../img/capa.png);
    background-attachment: fixed;
}
nav.navbar-transparente{
    background: rgba(0, 0, 0, 0.26);
}
.navbar-light .navbar-nav a.nav-link {
    color: white;
    font-size: 1.1em;
}
.navbar-light .navbar-nav a.nav-link:hover{
    color: aqua;
}
.navbar-light button.navbar-toggler  {
    color: rgba(0, 0, 0, 0.5);
    border-color: white;
}
.divisor{
    width:1px;
    background: white;
    margin:8px 10px;
}
.capa {
    text-align: center;
    background: #26859c;
    height: 350px;
    width: 700px;
}
#home .container .capa h1{
    font-weight: 900;
    letter-spacing: -0.05em;
    margin: 10px;
    color: #000000;
}
#home .container .capa h3{

}